@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
#h11, #h12 {
  font-size: 36px;
}
#h12 {
  text-align: right;
  line-height: 54px;
  margin-right: 36px;
}
.bg-img {
  background-image: url("image/background/rehahn-4-1479217491.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#logo {
  width: 7%;
  position: absolute;
  margin: 56px 68px;
}
.header-container {
  position: absolute;
  right: 0;
  margin: 45px;
  width: auto;
}
#topnav {
  overflow: hidden;
}
#topnav a {
  font-weight: 600;
}
#topnav a, #topnav i {
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-size: 23px;
  color: white;
}
#topnav a:hover, #topnav .active {
  text-decoration: underline;
  text-decoration-color: green;
  text-underline-offset: 7px;
}
#topnav i {
  color: white;
  transform: rotateY(180deg);
}
.header {
  width: 112px;
  color: white;
  font-size: 116px;
  font-family: 'Arial Rounded MT Bold', sans-serif;                                            
  position: absolute;
  font-weight: 600;
  color: #C2CBC8;
  margin-top: 191px;
  margin-left: 68px;
  line-height: 137px;
}
#foundation {
  font-size: 36px;
  top: 380px;
  position: absolute;
}
/* Origin */
.origin-container {
  margin-top: 50px;
  background-image: url("image/index-img/Teamwork.png");
  width: 100%;
  display: flex;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 15% 0;
}
@media screen and (max-width: 1920px) {
  .origin-container {
    height: 900px;
  }
}
@media screen and (max-width: 1366px) {
  .origin-container {
    height: 700px;
  }
}
.origin-container > p {
  color: #487343;
  font-size: 20px;
  margin-top: 38%;
  margin-left: 63%;
}
/* Aim */
.aim-container {
  background-color: #C2CBC8;
  width: 825px;
  height: 440px;
  margin: 0 auto;
}
.aim-container .box {
  display: flex;
  color: #487343;
  padding: 20px;
}
.aim-container .box h1 {
  font-size: 36px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-top: 25px;
  padding-left: 20px;
  
}
.aim-container .box p {
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.3;
}
.aim-container .box p span {
  font-size: 12px;
}

/* Carousel */
.carousel-container {
  width: 1100px;
  margin: 100px auto 50px;
  min-height: 200px;
  position: relative;
}
.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  width: 275px;
  height: 250px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 5px;
  padding-left: 5px;
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  border-radius: 20%;
}
.carousel-nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel-nav .prev {
  left: -30px;
  display: none;
}
.carousel-nav .prev.show { 
  display: block;
}
.carousel-nav .next {
  right: -30px;
}
.carousel-nav .next.hide {
  display: none;
}
/* About us */
.aboutus-container {
  text-align: center;
}
.aboutus-container button {
  cursor: pointer;
  color: green;
  border: 5px solid green;
  border-radius: 27px;
  background-color: white;
  padding: 11px 16px;
}
.aboutus-container button:hover {
  background-color: #3e8e41;
  color: #fff;
}
/* Footer */
.overlay {
  display: flex;
  margin-top: 40px;
  height: 420px;
  background-image: url("image/footer-img/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #ccc8c83b;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.overlay .footer-item {
  flex: 1;
}
.overlay .footer-item .footer-logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.overlay .footer-item .icon-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.overlay .footer-item .icon-container a i {
  color: #fff;
  font-size: 40px;
}
.overlay .footer-item .footer-contact {
  color: #fff;
  padding-left: 30px;
}
.overlay .footer-item .footer-contact h4 {
  line-height: 2.5;
}
.overlay .footer-item .footer-gallery {
  border: 2px solid #fff;
  padding: 10px;
}
.overlay .footer-item .footer-gallery h4 {
  text-align: center;
  font-weight: 700;
}
.overlay .footer-item .footer-gallery .footer_gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.overlay .footer-item .footer-gallery .footer_gallery-container img {
  width: 20%;
  flex-basis: 33%;
  padding: 5px;
}
.overlay .footer-item .footer-gallery .footer_gallery-container .myImg {
  cursor: pointer;
  transition: 0.3s;
}
.overlay .footer-item .footer-gallery .footer_gallery-container .myImg:hover {
  opacity: 0.7;
}
.modal .modal-dialog .modal-content .modal-body img {
  width: 100%;
}
/* ======= Introduce =========== */
/* Header */
.bg-introduce {
  background-color: #B0B8B6;
  height: 100%;
  width: 100%;
}
.bg-introduce img {
  padding-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.bg-introduce p {
  color: #ffffff;
  font-size: 46px;
  font-family: 'Arial Rounded MT Bold', sans-serif;                                            
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
/* Introduce */
.introduce-container {
  background-color: #C2CBC8;
  width: 100%;
  height: 450px;
}
.introduce-container .box {
  display: flex;
  color: #487343;
  padding: 20px;
  justify-content: center;
}
.introduce-container .box h1 {
  font-size: 70px;
  text-align: right;
  padding-right: 50px;
  padding-top: 20px;
  font-weight: 400;
}
.introduce-container .box p {
  padding-top: 75px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.3;
}
/* The Gallery */
/* .tgallery-container {
  position: relative;
  margin: auto;
  margin-top: 70px;
  background-color: #C2CBC8;
  width: 680px;
  height: 450px;
}
.tgallery-container .box {
  display: flex;
  color: #487343;
  padding: 20px;
  justify-content: center;
}
.tgallery-container .box img {
  width: 50%;

}
.tgallery-container .box p {
  font-size: 46px;
  text-align: center;
  margin-top: 100px;
}
.tgallery-container .box p span {
  font-size: 18px;
} */
/* Image Grid */
.wrapper-container {
  margin-top: 50px;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.wrapper-container h1 {
  font-size: 46px;
  text-align: center;
  color: #487343;
  margin-bottom: 50px;
}
.wrapper-container .wrapper {
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 20px 20px;
  margin-bottom: 50px;
  justify-content: center;
}
.wrapper img {
  width: 100%;
}
.item1, .item2, .item5, .item6 {
  height: 153px;
}
.item3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;

}
.item4 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  height: 323px;
}
/* Members */
.members-container {
  width: 100%;
  height: 100%;
}
.members-container .box {
  display: flex;
  padding: 20px;
  margin-left: 5%;
}
.members-container .box h1 {
  color: black;
  font-size: 40px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding-left: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  margin-top: 20px;
}
.members-container .box .members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.members-container .box .members .profile {
  flex-basis: 20%;
  margin: 10px 50px;
}
.members-container .box .members .profile .profile-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid green;
  padding: 10px;
  cursor: pointer;
}
.members-container .box .members .profile .user-name {
  color: #487343;
  font-size: 18px;
  padding-top: 5px;
  margin-left: 30%;
}

/* ======= Event =========== */
.bg-event {
  background-image: url("image/background/pexels-jacob-kelvinj-4515858.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Recently Blog */
.recently-container {
  background-color: #C2CBC8;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
.recently-container .box {
  display: flex;
  color: #fff;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.recently-container .box img {
  width: 27%;
  height: 510px;
  align-self: center;
}
.recently-container .box .title {
  font-weight: 650;
}
.recently-container .box .title h1 {
  margin-bottom: 20px;
}
.recently-container .box .title p {
  margin-left: 30px;
  width: 300px;
  font-size: 18px;
}
.recently-container .box .title button {
  color: #fff;
  display: block;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #C2CBC8;
  font-size: 10px;
  padding: 2px 10px;
  font-weight: 700;
}
.recently-container .box .title a:link {
  text-decoration: none;
}
/* Blog Summary */
.blog_summary-container {
  width: 100%;
  margin: 60px 0;
}
.blog_summary-container .item-odd {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.blog_summary-container .item-odd .text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_summary-container .item-odd .text-container .text {

}
.blog_summary-container .item-odd .text-container .text h1 {
  color: #487343;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.blog_summary-container .item-odd .text-container .text p {
  line-height: 2;
  margin-top: 20px;
  font-weight: 500;
}
.blog_summary-container .item-odd .blog_img-container {
  flex: 1;
}
.blog_summary-container .item-odd .blog_img-container .blog-img {
  height: 274px;
  border: 2px solid green;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border-right: none;
}
.blog_summary-container .item-odd .blog_img-container .blog-img img {
  height: 270px;
  width: 100%;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.blog_summary-container .item-odd .blog_img-container button {
  margin-top: 25px;
  margin-left: 50%;
  display: block;
  background-color: #38682B;
  color: #fff;
  border: none;
  padding: 3px 10px;
  font-weight: 600;
}


.blog_summary-container .item-even {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-direction: row-reverse;
}
.blog_summary-container .item-even .text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_summary-container .item-even .text-container .text {

}
.blog_summary-container .item-even .text-container .text h1 {
  color: #487343;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.blog_summary-container .item-even .text-container .text p {
  line-height: 2;
  margin-top: 20px;
  font-weight: 500;
  text-align: right;
}
.blog_summary-container .item-even .blog_img-container {
  flex: 1;
}
.blog_summary-container .item-even .blog_img-container .blog-img {
  height: 274px;
  border: 2px solid green;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-left: none;
}
.blog_summary-container .item-even .blog_img-container .blog-img img {
  height: 270px;
  width: 100%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.blog_summary-container .item-even .blog_img-container button {
  margin-top: 25px;
  margin-left: 50%;
  display: block;
  background-color: #38682B;
  color: #fff;
  border: none;
  padding: 3px 10px;
  font-weight: 600;
}

